[data-md-color-scheme="cfclight"] {
    --md-primary-fg-color: #000000;
    --md-primary-fg-color--light: #000000;
    --md-primary-fg-color--dark: #000000;
    --md-typeset-a-color: #0070F3;
  }
  
  [data-md-color-scheme="slate"] {
    --md-hue: 210; /* [0, 360] */
    --md-primary-fg-color: #000000;
    --md-typeset-a-color: #01f1cc;
  }