@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --md-text-font: "IBM Plex Sans";
  --md-code-font: "IBM Plex Mono";
}

[data-md-color-scheme="cfclight"] {
  --md-default-fg-color: #000;
  --md-default-fg-color--light: #000;
  --md-default-fg-color--lighter: #5f5f5f;
  --md-default-fg-color--lightest: #c5c5c5;
  --md-default-bg-color: #fff;
  --md-default-bg-color--light: #fff;
  --md-default-bg-color--lighter: #fff;
  --md-default-bg-color--lightest: #fff;

  --md-code-fg-color: #000;
  --md-code-bg-color: #fafafa;
  --md-code-hl-color: #01f1cc;
  --md-code-hl-color--light: #5599991a;
  --md-code-hl-number-color: #d52a2a;
  --md-code-hl-special-color: #db1457;
  --md-code-hl-function-color: #a846b9;
  --md-code-hl-constant-color: #6e59d9;
  --md-code-hl-keyword-color: #3f6ec6;
  --md-code-hl-string-color: #1c7d4d;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: #a5a5a5;
  --md-typeset-del-color: #f5503d26;
  --md-typeset-ins-color: #0bd57026;
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-mark-color: #ffff0080;
  --md-typeset-table-color: #0000001f;
  --md-typeset-table-color--light: rgba(0,0,0,.035);

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-warning-fg-color: #000000de;
  --md-warning-bg-color: #ff9;
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #ffffffb3;
  --md-footer-fg-color--lighter: #ffffff73;
  --md-footer-bg-color: #000000de;
  --md-footer-bg-color--dark: #00000052;

  --md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
  --md-shadow-z2: 0 0.2rem 0.5rem #0000001a,0 0 0.05rem #00000040;
  --md-shadow-z3: 0 0.2rem 0.5rem #0003,0 0 0.05rem #00000059;

  --md-primary-fg-color: #000;
  --md-primary-fg-color--light: #000;
  --md-primary-fg-color--dark: #000;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #fff;
  --md-accent-fg-color: #01f1cc;
  --md-accent-fg-color--transparent: rgba(1, 241, 204, 0.1);
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #fff;
  }
  
[data-md-color-scheme="cfcdark"] {
  --md-default-fg-color: #fff;
  --md-default-fg-color--light: #fff;
  --md-default-fg-color--lighter: #a5a5a5;
  --md-default-fg-color--lightest: #000;
  --md-default-bg-color: #000;
  --md-default-bg-color--light: #000;
  --md-default-bg-color--lighter: #000;
  --md-default-bg-color--lightest: #000;

  --md-code-fg-color: #fff;
  --md-code-bg-color: #101010;
  --md-code-hl-color: #01f1cc;
  --md-code-hl-color--light: #5599991a;
  --md-code-hl-number-color: #d52a2a;
  --md-code-hl-special-color: #db1457;
  --md-code-hl-function-color: #a846b9;
  --md-code-hl-constant-color: #6e59d9;
  --md-code-hl-keyword-color: #4db4d0;
  --md-code-hl-string-color: #2eb270;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: #dfdfdf;
  --md-typeset-del-color: #f5503d26;
  --md-typeset-ins-color: #0bd57026;
  --md-typeset-kbd-color: #fafafa;
  --md-typeset-kbd-accent-color: #fff;
  --md-typeset-kbd-border-color: #b8b8b8;
  --md-typeset-mark-color: #ffff0080;
  --md-typeset-table-color: #0000001f;
  --md-typeset-table-color--light: rgba(0,0,0,.035);

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);
  --md-warning-fg-color: #000000de;
  --md-warning-bg-color: #ff9;

  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #fff;
  --md-footer-fg-color--lighter: #fff;
  --md-footer-bg-color: #000;
  --md-footer-bg-color--dark: #000;
  --md-shadow-z1: 0 0.2rem 0.5rem #fff,0 0 0.05rem #fff;
  --md-shadow-z2: 0 0.2rem 0.5rem #fff,0 0 0.05rem #fff;
  --md-shadow-z3: 0 0.2rem 0.5rem #fff,0 0 0.05rem #fff;

  --md-primary-fg-color: #000;
  --md-primary-fg-color--light: #000;
  --md-primary-fg-color--dark: #000;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #fff;
  --md-accent-fg-color: #01f1cc;
  --md-accent-fg-color--transparent: rgba(1, 241, 204, 0.1);
  --md-accent-bg-color: #000;
  --md-accent-bg-color--light: #000;
}

.md-typeset a {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px !important;
}

.md-typeset h1 {
  color: var(--md-accent-fg-color) !important;
}

.md-typeset h3 {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  font-weight: 420 !important;
  color: var(--md-accent-fg-color) !important;
}

.md-typeset h4 {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
  font-weight: 470 !important;
  font-size: 1.05em !important;
}

.md-typeset h2 {
  position: relative;
  padding: 1rem;
  font-weight: 480 !important;
  background-color: #01f1cd11;
  border-radius: 0.3rem;
  border: 0.5px solid var(--md-accent-fg-color);
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.md-nav--secondary .md-nav__item--active>.md-nav__link{
  color: var(--md-accent-fg-color) !important;
}

.md-nav--primary .md-nav__item .md-nav__link--active {
    background: var(--md-accent-fg-color--transparent);
    color: var(--md-accent-fg-color);
}

.md-nav--primary .md-nav__link {
    margin-top: 1rem !important;
    padding: .6rem .8rem !important;
}
.md-nav--primary .md-nav__title~.md-nav__list {
    box-shadow: none !important;
}

.md-nav__link {
    align-items: flex-start;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    gap: .4rem !important;
    margin-left: .2rem;
    margin-right: .2rem;
    padding: .35rem .8rem;
    transition: color .25s, background-color .25s;
}

/* extra info details styling */

.md-typeset .info>.admonition-title,.md-typeset summary {
  background-color: var(--md-default-bg-color) !important;
}

.md-typeset .admonition, .md-typeset details {
    background-color: var(--md-admonition-bg-color);
    border: .05rem solid #448aff;
    border-radius: .2rem;
    box-shadow: var(--md-shadow-z1);
    color: var(--md-admonition-fg-color);
    display: flow-root;
    font-size: .64rem;
    margin: 1.5625em 0;
    padding: 0.2rem 0.8rem !important;
    page-break-inside: avoid;
    transition: box-shadow 125ms;
}

.md-typeset .admonition.info,.md-typeset details.info {
  border-color: rgba(1, 241, 204, 0.8) !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.md-typeset .info>.admonition-title:before,.md-typeset .info>summary:before {
  background-color: rgba(1, 241, 204, 0.8) !important;
}

.md-typeset .info>.admonition-title:after,.md-typeset .info>summary:after {
  color: rgba(1, 241, 204, 0.8) !important;
}

[dir=ltr] .md-typeset .admonition-title,[dir=ltr] .md-typeset summary {
    padding-left: 2.2rem !important;
}


.md-typeset h2 ~ *:not(h2):not(hr) {
  margin-left: 1rem !important;
}

.md-typeset h3 ~ *:not(h3):not(h2):not(hr){
  margin-left: 2rem !important;
}

.md-typeset h4 ~ *:not(h4):not(h3):not(h2):not(hr) {
  margin-left: 2.5rem !important;
}

hr {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  border-color: 0.5px solid var(--md-default-fg-color) !important;
  height: 0.5px;
}